.transaction-detail {
  margin: auto;
  width: 17.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transaction-detail-card {
  font-size: 20px;
  width: 100%;
  padding: 24px 16px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b263b;
  color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.transaction-detail-card p {
  margin: 0;
}

.transaction-detail-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.transaction-detail-button {
  font-size: 18px;
  color: white;
  padding: 8px 24px;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.25s;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

.transaction-detail-button:hover {
  transform: scale(1.15);
}

.edit-bg {
  background-color: #f59e0b;
}

.delete-bg {
  background-color: #ef4444;
}

@media (max-width: 768px) {
  .transaction-detail {
    width: 75%;
  }
}


