.transactions-list-container header {
  display: flex;
  justify-content: center;
}

.transactions-list-container header h1 {
  margin: 20px;
  padding: 16px;
  border: 2px solid #1b263b;
  border-radius: 8px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.transactions-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 16px;
}

.transaction-card {
  width: 22.5%;
  padding: 16px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b263b;
  color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.transaction-card a {
  font-size: 24px;
  color: white;
  transition: 0.25s;
}

.transaction-card a:hover {
  transform: scale(1.25)
}

@media (max-width: 768px) {
  .transaction-card {
    width: 75%;
  }
}